Flask==2.2.5
flask_dance==7.1.0
flask_wtf==1.2.1
google_api_python_client==2.146.0
google_auth_oauthlib==0.4.6
google_auth_oauthlib==0.4.1
google_auth_oauthlib==1.2.1
openmeteo_requests==1.3.0
pandas==1.3.5
Pillow==9.5.0
Pillow==8.3.1
Pillow==9.4.0
Pillow==10.4.0
protobuf==3.19.6
protobuf==3.17.2
protobuf==3.20.3
pymongo==4.9.1
python-dotenv==1.0.1
Requests==2.32.3
requests_cache==1.2.1
retry_requests==2.0.0
termcolor==2.4.0
Werkzeug==2.2.3
Werkzeug==0.16.1
WTForms==3.1.2
