{% extends 'base.html' %}

{% block hero %}
<div class="hero">
    <div class="hero-content">
      <h1>Take Control of your</br></h1><h1 class="ttl">FRIDGY</h1>
      <div class="explore">
        <p><a href="{{ url_for('github.login') }}"><button class="load-show">Let's GO!</button></a> Fridge <strong>Your way.</strong></p>
      </div>
    </div>
    <div class="picture">
      <p>Image made with <a style="text-decoration: underline; color: #f79477; font-weight:900;" href="https://openai.com/index/dall-e-2/" target="_blank">DALL-E</a>
    </div>
    <script src="{{ url_for('static', filename='js/load.js')}}"></script>
    
{% endblock %}

{% block content %}

<div class="feature-box">
  <div class="feature">
    <svg class="feature-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
      <path d="M2 21H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M4 18L4 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M8 14L8 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M12 11L12 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M16 11L16 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M20 5L20 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
    <h2>Elite Tracking</h2>
    <hr>
    <p>FRIDGY provides you with detailed charts and insightful information on when it's time to stock up, all while taking into account your Google Calendar and even the weather to ensure you're prepared for any occasion.</p>
  </div>
  <div class="feature">
    <svg class="feature-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
      <path d="M5.59988 5.65676C6.79984 4.48521 9.79974 3.3138 11.5997 4.48521C14.9486 6.66473 12.8 10.3431 9.20016 10.9288C10.8001 10.9288 14 11.6318 14 14.4435C14 18.7942 9.19988 21.1845 5.6 19.4092C2.00012 17.6339 2 14.7573 2 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M19.0006 10C18.052 13.7503 14.9728 13.2464 13.1992 12.3941" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
      <path d="M19 5L19 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M16 4C17.5 4.43301 19.5 4.86603 22 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
    <h2>Identifying Cultured Foods</h2>
    <hr>
    <p>FRIDGY utilizes cutting-edge Gemini Vision technology to accurately identify a wide variety of foods in your kitchen. Whether it's cultured foods like yogurt or kombucha, fresh produce, or packaged items, FRIDGY can recognize and categorize it all.</p>
  </div>
  <div class="feature">
    <svg class="feature-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
      <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
      <path d="M12 8V12L14 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <h2>Lightning Fast</h2>
    <hr>
    <p>It only takes 10 seconds for FRIDGY to handle everything—from identifying your food to storing and managing it. Simply snap a picture of what's in your fridge and send it our way. We'll take care of the rest, effortlessly organizing and tracking your items so you don’t have to worry about a thing!</p>
  </div>
  <div class="feature">
    <svg class="feature-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
      <path d="M18 2V4M6 2V4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M10 17L9.99999 13.3472C9.99999 13.1555 9.86325 13 9.69458 13H9M13.6297 17L14.9842 13.3492C15.0475 13.1785 14.9128 13 14.7207 13H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
      <path d="M2.5 12.2432C2.5 7.88594 2.5 5.70728 3.75212 4.35364C5.00424 3 7.01949 3 11.05 3H12.95C16.9805 3 18.9958 3 20.2479 4.35364C21.5 5.70728 21.5 7.88594 21.5 12.2432V12.7568C21.5 17.1141 21.5 19.2927 20.2479 20.6464C18.9958 22 16.9805 22 12.95 22H11.05C7.01949 22 5.00424 22 3.75212 20.6464C2.5 19.2927 2.5 17.1141 2.5 12.7568V12.2432Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M6 8H18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <h2>Mindless errands</h2>
    <hr>
    <p>
      FRIDGY ensures you never run out of food by helping you plan and restock when needed. Plus, with seamless Google Calendar integration, it only shows you the available dates that fit your schedule, making grocery shopping and meal planning even more convenient!</p>
  </div>
</div>
<div id="animated-text-strip">
  <span class="marquee">Seamless tracking, personalized, and lightning-fast⠀⠀⠀⠀⠀⠀&nbsp;</span>
  <span class="marquee">Seamless tracking, personalized, and lightning-fast⠀⠀⠀⠀⠀⠀&nbsp;</span>
  <span class="marquee">Seamless tracking, personalized, and lightning-fast⠀⠀⠀⠀⠀⠀&nbsp;</span>
  <span class="marquee">Seamless tracking, personalized, and lightning-fast⠀⠀⠀⠀⠀⠀&nbsp;</span>
</div>


<div class="catch">
  <h1>That's just FRIDGY</h1>
  <a href="{{ url_for('github.login') }}"><button class="load-show">Let's GO!</button></a>
</div>

<script src="{{ url_for('static',filename='js/scroll.js') }}"></script>

{% endblock %}
