{% extends 'base.html' %}

{% block hero %}
<div class="hero">
    <div class="hero_content">
      <h1>Take Control of your</br></h1><h1 class="ttl">FRIDGY</h1>
      <div class="explore">
        <p><button>Let's GO!</button> Fridge <strong>Your way.</strong></p>
      </div>
    </div>
    <div class="picture">
      <p>Image made with <a href="https://openai.com/index/dall-e-2/" target="_blank">DALL-E</a>
    </div>
{% endblock %}

{% block content %}
Lorem ipsum odor amet, consectetuer adipiscing elit. Blandit elementum purus lacinia penatibus taciti; adipiscing curabitur potenti. Senectus amet eu sagittis nunc odio rhoncus elit tortor litora. Est natoque vitae ex nibh himenaeos mus. Ipsum velit nisl diam maximus id ornare. Elit pulvinar odio viverra per iaculis. Rutrum amet porttitor risus sollicitudin tellus litora. Aliquam vulputate libero mi pulvinar eleifend auctor tellus luctus sociosqu. Elementum maecenas non posuere etiam nunc malesuada justo.

Justo venenatis mi montes elit sociosqu velit maecenas. Taciti himenaeos montes rutrum ac amet finibus praesent. Neque convallis nunc hendrerit; semper scelerisque nisl. Urna elementum justo duis lectus rhoncus tempor nunc. Arcu vitae fringilla sodales quis imperdiet quam sed. Magnis vestibulum fames porttitor imperdiet at at tincidunt consequat ex. Odio aliquam tempor iaculis dapibus morbi mus aliquet netus.

Lacinia euismod primis natoque mollis ex vel tristique porttitor cubilia. Aliquam pellentesque pharetra a vitae dolor ligula sapien arcu. Nibh hendrerit accumsan montes platea nibh mi orci dignissim. Mi potenti rhoncus felis volutpat dis magnis leo. Faucibus suspendisse gravida nec augue augue, dis rhoncus himenaeos. Maximus mi consectetur leo fermentum dui dapibus. Convallis nulla efficitur velit vel velit maximus nulla. Facilisis molestie imperdiet gravida cursus nulla fringilla.

Primis dignissim mi varius; curabitur sem platea habitant dolor. Vivamus vivamus varius vivamus curae aenean platea lacinia pretium. Semper dui nam conubia varius vehicula hac. Augue mi arcu adipiscing porttitor felis metus. Velit senectus eget justo aliquet mus nullam. Enim facilisi fusce morbi proin senectus ipsum facilisi. Quisque torquent ex tellus id leo dolor eu.

Varius fringilla platea rhoncus placerat fusce cras ultrices vel conubia. Amet lectus facilisis senectus lorem porta. Mi auctor urna himenaeos donec posuere accumsan quam urna. Dignissim senectus per dictum enim tortor quam. Velit id natoque finibus netus dignissim molestie. Risus turpis erat maximus cursus varius bibendum fames facilisi. Maecenas commodo varius himenaeos facilisi maximus curae dui massa pulvinar. Cras duis mauris ac nibh massa vehicula morbi condimentum consequat.
{% endblock %}
